<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <style>
      table, th, td {
        border: 1px solid;
        border-collapse: collapse;
      }
    </style>
</head>
<body>
  <div>
      <h1> Welcome User </h1>
      <form id="suchi-form" method="POST" action="/suchi">
        <label for="suchi-user_name"> Username </label>
        <input type="text" id="suchi-user_name" name="suchi-user_name" required><br>

        <label for="suchi-password"> Password </label>
        <input type="text" id="suchi-password" name="suchi-password" required><br



         <button type="submit"> Login </button> <button type="submit"> Signup </button>
              <h1> new user <button type="submit"> Register Now </button> </h1>

      </form>
  </div>
</body>
</html>