<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Page </title>
</head>
<body>
    <div>
        <form id="user-registartion" action="/register/user" method="POST">
            <div>
                <!--Name,Email,Password-->
                <label lable-for="name"> Name: </label>
                <input id="name" name="name" type="text" required> <br>


            </div>
            <div>
                <label lable-for="password"> Password: </label>
                <input id="password" name="password" type="password" required><br>

                <button type="Submit"> Register</button>


            </div>





        </form>


    </div>

</body>
</html>